services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      BOOT: "https://mirror.sg.gs/almalinux/10.0/isos/x86_64/AlmaLinux-10.0-x86_64-boot.iso"
      DISK_SIZE: "30G"
      RAM_SIZE: "6G"
      CPU_CORES: "2"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
    restart: on-failure
    stop_grace_period: 2m
