services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      BOOT: "https://mirror.ungleich.ch/mirror/devuan/devuan_excalibur/installer-iso/devuan_excalibur_6.0.0_amd64_netinstall.iso"
      RAM_SIZE: "4G"
      CPU_CORES: "2"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
    restart: on-failure
    stop_grace_period: 2m
