services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      BOOT: "https://distfiles.gentoo.org/releases/amd64/autobuilds/current-install-amd64-minimal/install-amd64-minimal-20260105T081601Z.iso"
      DISK_SIZE: "27G"
      RAM_SIZE: "4G"
      CPU_CORES: "2"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
    restart: on-failure
    stop_grace_period: 2m
