services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      BOOT: "https://fastly.mirror.pkgbuild.com/iso/2025.11.01/archlinux-x86_64.iso"
      DISK_SIZE: "30G"
      RAM_SIZE: "8G"
      CPU_CORES: "2"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
    restart: on-failure
    stop_grace_period: 2m
